/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
@font-face {
    font-family: tajawal;
    src: url(../fonts/Tajawal-Medium.ttf);
}
* {
    direction: rtl;
    font-family: tajawal;
}
